
body {
    width: 1280px;
    margin: auto;
    background-color: white;
    font-family: PT Sans,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
}
.container {
    /* display: flex;
    flex-direction: column; */
    width: 1280;
    margin: 0px 75px;
}
.contain{
    width: 100%;
    height: auto;
}
.primary-header {
    background-color: #f5f4f4;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.logo-image {
    width: 30%; 
    height: 81px; 
    margin-top: 50px;
    margin-left: 20px;
}

.head-nav {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.head-nav1 {
    text-align: right;
}

.head-nav1 ul {
    margin:50px 0px 20px 0px;
}
.head-nav1 li {
    display: inline;
    list-style: none;
}
.head-nav1 a {
    color: #8f8f8e;
    text-decoration: none;
    padding: 10px;
}

.head-nav1 a:hover {
    color: orange;
}

.head-nav2 {
    text-align: right;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.head-nav2 li {
    display: inline;
    list-style: none;
    border-right: 0.5px solid #8f8f8e;
    padding: 0px 5px;
}

.head-nav2 a {
    color: #8f8f8e;
    text-decoration: none;
}

.head-nav2 a:hover {
    color: #11dc00
}

.content{
    width: 100%;
}
.left-nav {
    float: left;
    text-align: left;
    width: 30%;
    height: 600px;
}

.left-nav li {
    background-color:#8ac53f;
    padding: 20px;
    border-bottom: 1px solid #6b9d2c;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
}

.left-nav li:hover {
    background-color: #6b9d2c;
}

.link_left_nav {
    color: white;
    text-decoration: none;
}
.left-nav ul {
    margin:0px;
    padding: 0px;
}

.left-nav h1 {
    color: #595958;
    text-transform: capitalize;
    font-family: open sans,sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 2px solid orange;
}

.left-nav img {
    margin: 20px 0px;
    border: 1px solid #d4d4d4;
    padding:50px;
}

.button_special{
    color: #595958;
}

.product_name{
    color: #8ac53f;
    text-decoration: none;
}

.product-name-special{
    color: #8ac53f;
    text-decoration: none;
    padding: 60px;
}
.sale_off_price{
    color: #ababab;
    font-size: 22px;
    font-weight: bold;
    text-decoration: line-through;
    float: left;
    padding: 0px 10px;
}
.price_product{
    color: #fe8802;
    font-size: 22px;
    font-weight: bold;
}

.button_special{
    text-decoration: none;
    border: 1px solid #ababab;
    padding: 10px 10px 5px 10px;
    font-weight: bold;
    margin-left: 10px;
}

.button_special:hover{
    background-color: #fff;
}

.search-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;   
    border-bottom: 0.5px solid #ababab;
    padding: 10px 0px;
}

.cart{
    margin: 0px;
    color: white;
    font-weight: bold;
    background-color: #fe8802;
    border: 1px solid #fe8802;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 100px;
    padding-left: 30px;
    width: 28%;
    height: 30px;
    border-radius: 3px;
}

.main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.search_text{
    height: 40px;
    width: 70%;
    border: 1px solid #ababab;
    background-color: #f5f4f4;
}

.btnSearch{
    border:  solid #8ac53f;
    background-color: #8ac53f;
    width: 28%;
    height: 40px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}

.slide{
    margin-top: 40px;
    margin-left: 20px;
    width: 100%;
}

.banner{
    display: flex;
    flex-direction: row;
}
.big_sale{
    background-color: #ffe635;
    height: 133px;
    width: 33%;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 19px;
}

.big_sale:hover{
    color:black;
}

.free_shipping{
    background-color: #ffa035;
    height: 133px;
    width: 33%;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 19px;
}

.off{
    background-color: #117f08fa;
    height: 133px;
    width: 33%;
    color: white;
    margin-top: 30px;
    margin-left: 19px;
}
.free_shipping:hover{
    color:black;
}
.off:hover{
    color:black;
}

.product_list{
    margin-top: 20px;
    width: 100%;
}

.image_product{
    text-align: center;
    height: 190px;
    width: 190px;
    margin: 20px 0px;
    border: 1px solid #d4d4d4;
    padding:10px;
}

.link_product{
    display: block;
}

.title_product
{
 color: #8f8f8e;   
 font-size: 25px;
 font-weight: lighter;
 border-bottom: 2px solid #117f08fa;
 padding: 5px 5px;
}
.featured-product {
    margin-left: 35px;;
}

i:hover {
    background-color: orange;
}

.new-products {
    margin-left: 35px;;
}
 i:hover {
    background-color: orange;
}
.footer{
    height: 70px;
    background-color: #f5f4f4;
    padding-top: 20px;
    padding-left: 50px;
    color: #8f8f8e;  
    margin-top: 20px;
}

.footer p {
    display: inline;
}

.footer_nav {
    display: inline;
}
.footer_nav ul{
    display: inline;
}
.footer_nav li{
    display: inline-block;
    list-style: none;
    border-right: 0.5px solid #8f8f8e;
    padding: 0px 10px;
}

.footer_nav a{
    color: #8f8f8e;
    text-decoration: none;
}