
body {
    width: 1280px;
    margin: auto;
    background-color: white;
    font-family: PT Sans,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
}
.container {
    /* display: flex;
    flex-direction: column; */
    
    margin: 0px 75px;
}
.contain{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.primary-header {
    background-color: #f5f4f4;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.logo-image {
    width: 30%; 
    height: 81px; 
    margin-top: 50px;
    margin-left: 20px;
}

.head-nav {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.head-nav1 {
    text-align: right;
}

.head-nav1 ul {
    margin:50px 0px 20px 0px;
}
.head-nav1 li {
    display: inline;
    list-style: none;
    font-size: 14px;
}
.head-nav1 a {
    color: #8f8f8e;
    text-decoration: none;
    padding: 10px;
}

.head-nav1 a:hover {
    color: orange;
}

.head-nav2 {
    text-align: right;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.head-nav2 li {
    font-size: 14px;
    display: inline;
    list-style: none;
    border-left: 0.5px solid #8f8f8e9e;
    padding: 0px 15px;
}

.head-nav2 li:first-child {
    border-left: 0px;
}

.head-nav2 a.end-link {
    font-weight: bold;
    color:#8ac53f;
}
.head-nav2 a.dropdow-icon::after {
    font-family: FontAwesome;
    content: "\f107";
    color:#8ac53f;
    padding-left: 8px;
}
.head-nav2 a {
    color: #8f8f8e;
    text-decoration: none;
}

.head-nav2 a:hover {
    color: #11dc00
}

.content {
    width: 100%;
}

.left-nav {
    float: left;
    text-align: left;
    width: 30%;
    height: 600px;
}

.left-nav li {
    background-color:#8ac53f;
    padding: 20px;
    border-bottom: 1px solid #6b9d2c;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
}

.left-nav li:hover {
    background-color: #6b9d2c;
}

.link_left_nav {
    color: white;
    text-decoration: none;
}
.left-nav ul {
    margin:0px;
    padding: 0px;
}

.left-nav h1 {
    color: #595958;
    text-transform: capitalize;
    font-family: open sans,sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 2px solid orange;
}

.left-nav img {
    margin: 0px 0px;
    border: 1px solid #d4d4d4;
    padding:50px;
}

.button_special{
    color: #595958;
}

.product_name{
    color: #8ac53f;
    text-decoration: none;
}
.product-name-special{
    color: #8ac53f;
    text-decoration: none;
    padding: 60px;
}
.sale_off_price{
    color: #ababab;
    font-size: 22px;
    font-weight: bold;
    text-decoration: line-through;
    float: left;
    padding: 0px 10px;
}
.price_product{
    color: #fe8802;
    font-size: 22px;
    font-weight: normal;
}
.button_special{
    text-decoration: none;
    border: 1px solid #ababab;
    padding: 10px 10px 0px 10px;
    font-weight: bold;
    margin-left: 10px;
    float: left;
    height: 30px;
}
.button_special:hover{
    background-color: #fff;
}
.search-info{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    height: 41px;
    border-bottom: 0.5px solid #ababab;
    padding: 10px 0px;
}
.cart{
    margin-top: 0px;
    color: white;
    font-weight: bold;
    background-color: #fe8802;
    border: 1px solid #fe8802;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 30px;
    width: 25%;
    border-radius: 0px;
}
.cart i {
    font-size: 30px; 
    padding: 0px; 
    color: white;
}
.main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
}
#search {
    font-size: 35px;
    color: #00000040;
    margin-left: 15px;
}
.search_text {
    float: left;
    height: 40px;
    width: 70%;
    border: 1px solid #ababab;
    background-color: #f5f4f4;
}
.btnSearch {
    border: solid #8ac53f;
    background-color: #8ac53f;
    width: 20%;
    height: 44px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 0px;
}
.btnSearch:hover {
    cursor: pointer;
    background-color: #8ac53fd4;
}
.slide {
    margin-top: 40px;
    margin-left: 20px;
    width: 97%;
}
.banner {
    display: flex;
    flex-direction: row;
}
.detail-banner {
    height: 133px;
    width: 33%;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 19px;
    font-size: 13px;
}
.big-sale { 
    background-color: #ffe635;
}
.free-ship {
    background-color: #ffa035;
}
.off {
    background-color:#117f08fa;
}
.detail-banner:hover {
    color:black;
    cursor: pointer;
}
.title-banner {
    font-size: 25px; 
    font-weight: bold; 
    margin-top: 40px; 
    margin-bottom: 0px; 
    margin-left: 40px;
}
.decription-banner {
    text-transform: uppercase; 
    margin-top: 0px; 
    margin-left: 40px;
}
.product_list {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 97%;
}
.image_product {
    text-align: center;
    height: 190px;
    width: 190px;
    margin: 20px 0px;
    border: 1px solid #d4d4d4;
    padding:10px;
}
.product {
    width: 33%;
}
.product i {
    border-radius: 3px; 
    font-size: 32px; 
    padding: 5px; color: white; 
    background-color: #8ac53f;
    float: left;
}
.product i:hover {
    background-color: #ffa035;
    cursor: pointer;
}
.link_product {
    display: block;
}
.title_product {
 color: #8f8f8e;   
 font-size: 25px;
 font-weight: lighter;
 border-bottom: 2px solid #117f08fa;
 padding: 5px 5px;
}
.product-contain {
    margin-left: 35px;
    display: flex;
    flex-direction: row;
}
i:hover {
    background-color: orange;
}
 i:hover {
    background-color: orange;
}
.footer {
    height: 70px;
    background-color: #f5f4f4;
    padding-top: 20px;
    padding-left: 50px;
    color: #8f8f8e;  
    margin-top: 20px;
}

.footer p {
    display: inline;
    font-size: 14px;
}
.footer a {
    text-decoration: none; 
    color: #8f8f8e; 
    margin-right: 5px ;
}
.footer a:hover {
    color: #8ac53f;
}
.footer_nav {
    display: inline;
}
.footer_nav ul {
    display: inline;
    padding: 0px;
}
.footer_nav li {
    font-size: 14px;
    display: inline-block;
    list-style: none;
    border-right: 0.5px solid #8f8f8e;
    padding: 0px 10px;
}
.footer_nav li:last-child {
    border-right: 0px;
}
.footer_nav a {
    color: #8f8f8e;
    text-decoration: none;
}
.info_contact {
    background-color: white;
    border: 1px solid #4d52554d;
    margin-left: 20px;
}
.info_contact h4 {
    font-family: Arial,Helvetica,sans-serif; 
    font-size: 15px; 
    color: #4d52558c;
    border: 1px solid #4d52554d;
    padding: 10px;
    width: 100px;
    position: relative;
    top: -40px;
    background: white;
}
.title-contact {
    color: #8f8f8e;
    font-size: 25px;
    font-weight: lighter;
    border-bottom: 2px solid #117f08fa;
    padding: 5px 5px;
    margin-left: 20px;
}
.contact-content {
    width: 70%;
}
.label {
    font-family: Arial,Helvetica,sans-serif; 
    font-size: 15px; 
    color: #4d5255db;
    text-align: left;
    padding: 20px;
    margin-left: 20px;
    height: 50px;
}
.textbox {
    font-size: 16px;
    text-align: left;
    margin: 10px 20px 10px 0px;
    width: 50%;
    border: 1px solid #4d525538;
}

.margin-text {
    margin-left: 30px;
}
.textarea-message {
    text-align: right;
    margin: 10px 20px 10px 35px;
    width: 50%;
    height: 100px;
    resize: none;    
    border: 1px solid #4d525538;
}
.form-contact {
    border: 1px solid #4d525538;
    padding: 0px 00px 50px 20px ;
    width: 95%;
    margin: auto;
    margin-top: 50px;
}
.box-button {
    margin: 30px 0px;
}

.box-button a{
    color: black;
    text-decoration: underline;
    font-size: 14px;
    margin-left: 20px;
}
.box-button a:hover{
    text-decoration: none;
}
.button {
    font-family: Arial,Helvetica,sans-serif; 
    font-size: 15px; 
    color: #4d5255db;
    border: 1px solid #4d525538;
    height: 40px;
    width: 80px;
    margin-left: 10px;
    cursor: pointer;
}
.blank {
    height: 50px;
}

/* CSS login page */
.content-login {
    width: 70%;
    margin: auto;
}
.title-login {
    color: #8f8f8e;
    font-size: 25px;
    font-weight: lighter;
    border-bottom: 2px solid #117f08fa;
    padding: 5px 5px;
    margin-left: 20px;
}
.form-login {
    border: 1px solid #4d525538;
    padding: 0px 00px 50px 20px ;
    width: 95%;
    margin: auto;
    margin-top: 50px;
}
.form-login h4 {
    font-family: Arial,Helvetica,sans-serif; 
    font-size: 15px; 
    color: #4d52558c;
    border: 1px solid #4d52554d;
    padding: 10px;
    width: 260px;
    position: relative;
    top: -40px;
    background: white;
}